body{
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;    
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}
p{
    max-height: 5px;
    font-size: 0.8em;
}

.textos{
    width: 98%;
    border: none;
    background-color: #e2e2e2;
    border-radius: 2px;
    height: 25px;
}

.btn{
    border:none;
    width: 98%;
    height: 30px;
    text-align: center;
    margin-top: 15px;
    background-color: #0066cc;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: #66b3ff;
}

.msg{
    background-color: #ffcccc;
    height: 30px;
    width: 98%;
    text-align:center;
    border-radius: 2px;    
    border-left: solid 2px #ff5050;
}

.msg p{
    padding-top: 5px;
}

.resu p{
    background-color: #cceeff;
    padding-top: 7px;
    padding-bottom: 18px ;
    width: 98%;
    text-align:center;
    border-radius: 2px;    
    border-left: solid 2px #00aaff;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}